[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
